{% extends "base.html" %}

{% block app_content %}

<link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet">

<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<h1 class="text-muted" >About Us</h1>
	</div>

	<br>	

	<div class="row">
	  <div class="column">
	    <h3 class= "text-muted" style= "text-align: center">About Cars2Go</h3>
	    <p class="about-section-paragraphs">  Recently opened in 2021 we provide our clients with the freshest and finest models. </p>
  		<p class="about-section-paragraphs">  We are the UK's cheapest and fastest car dealership. </p>
  		<p class="about-section-paragraphs">  Our cars range from different year, make, models, body style, fuel type and mileage. </p>
  		<p class="about-section-paragraphs">  Our main office is based in Leicester, however we have expanded to London, Nottingham and Brighton. </p>
  		<p class="about-section-paragraphs">  This month alone we helped 40 customers find their perfect car, with 4.3 ★★★★☆ satisfaction </p>
	  </div>
	<br>
	  <div class="column text-center">
		<img src="{{ url_for('static', filename='branding/default.png')}}" class="logo"/>
	  </div>
	</div>
<br>
	
<h3	class="text-muted">FAQ's</h3>
<p>Here are some frequently asked questions, click the plus to view more</p>
<button class="accordion">What makes your company stand out from competitors?</button>

<div class="panel">
  <p>We are very efficient when it comes to providing the best service</p>
</div>

<button class="accordion">Can I charge an electric car in the rain?</button>
<div class="panel">
  <p>Yes, you can can charge in the rain, without damaging the car</p>
</div>

<button class="accordion">Do you sell Manual and Automatic cars?</button>
<div class="panel">
  <p>Yes we have both</p>
</div>

<button class="accordion">What car models do you sell?</button>
<div class="panel">
  <p>Ford, Volkswagen, Audi, BMW, FIAT... to view more car models visit the models section on our website</p>
</div>

<button class="accordion">What are your opening hours?</button>
<div class="panel">
  <p>Currently our store is closed due to lockdown regulations, but our office land-line is open from 9am - 6pm Monday-Friday</p>
</div>

<button class="accordion"> What different fuel types cars do you sell?</button>
<div class="panel">
  <p>Electric, petrol, diesel cars</p>
</div>

<div class="row">
	  <div class="column">
	    <h3 class= "text-muted" style= "text-align: center">Got a question?</h3>
		
		
  	<form action="/action_page.php" class="contact-us-form">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name...">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name...">

        <label for="city">What store?</label>
        <select id="city" name="city">
		  <option value="other">Other </option>
          <option value="leicester">Leicester </option>
          <option value="nottingham h">Nottingham</option>
          <option value="london">London</option>
          <option value="brighton">Brighton</option>
        </select>

        <label for="subject">What is your query</label>
        <textarea id="subject" name="subject" placeholder="Enter your query here..." style="height:100px"></textarea>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
		
  </div>
  <br>
  <div>
  		<video width="600" height="490" autoplay muted loop>
  		<source src="/static/video/IMG_8080.mp4" type="video/mp4">
  		your browser does not support the video tag
  		</video>
  </div>
</div>

<br>

 
<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<img src="/static/img/Aboutbimage.jpg" class="img-banner"/>
	</div>
</div>

<div class="row">
	<br><br>
	<h5 class="text-center"> If you have any more enquires be sure to contact our team </h5>
	<br>	
</div>

<script src="{{ url_for('static', filename='js/accordion.js')}}"></script>

{% endblock %}