{% extends "base.html" %}

{% block app_content %}

<link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet">

<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<h1 class="text-muted">Contact Us</h1>
		<h2 class= "text-muted"<strong>Find us at your nearest store!</strong></h2>
		
	</div>
	<p><iframe src="https://www.google.com/maps/d/embed?mid=1G5U40XdMN2VikAvrzRuQIzsRKT1Y4ZXn" width="600" height="500" style="border:0;" loading="lazy"></iframe></p>
	<br>
	
	<div class="row">
	<div class="col-sm-11 col-md-11 text-right" style="position: absolute; right: 185px; top: 500px;">
		<h2 class="text-muted">Call Our Office</h2>
		<p> Leicester: 0116 546 78464 </p>
		<p> Nottingham: 0115 941 8418 </p>
		<p> London: 01516 896 8364 </p>
		<p> Brighton: 0117 928 9000 </p>
	</div>
	
	<img src="/static/branding/default.png" height="400" style="position: absolute; right: 90px; top: 120px;">
	
	</div>
</div>
	
	<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<img src="/static/img/Contact1.jpg"/>
	<br>
	<br>
	
	<div class="row">
	  <div class="column">
	    <h3 class= "text-muted" style= "text-align: center"><strong>Booking & Consultations</strong></h3>
		
		
  	<form action="/action_page.php" class="contact-us-form">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name...">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name...">

        <label for="city">Email Address</label> 
		<input type="text" id="address" name="emailaddress" placeholder="Your email address...">

        <label for="pnumber">Phone Number</label>
        <input type="text" id="pnumber" name="phonenumber" placeholder="Your phone number...">
		
		<label for="msubject">Message Subject</label>
		<select id="msubject" name="msubject"> 
          <option value="orders">Orders </option>
          <option value="destination problems h">Destination Problems</option>
          <option value="prices">Prices</option>
          <option value="Car Make">Car Make</option>
        </select>
		
		
		<label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Enter your message here..." style="height:150px"></textarea>
		<br>
				
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
 
	<br>
	
	<div class="row">
	<div class="text-center-right" style="position: absolute; right: 1px; top: 350px;">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/7TNM0PVZM48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	 
	<div class="row">
	<div class="text-center-right" style="position: absolute; right: 1px; top: 700px;">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e9GpnYmSiwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
	<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<img src="/static/img/Contact2.jpg" height="250" width="1200"/> 
		<br>
		<br>
		<br>
		
	</div>	
	
	<br>
	
	<br>
	<br>
	<br>
	<br>
	<br> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br> 
	<br>	    

</div>

<footer>
<div class="address">
<div class="col-sm-14 col-md-14 text-bottom" style="position: absolute; right: 450px;">
			<span class="street-address">15 Abbey Drive 2nd St</span> <span class="pipe">/</span> <span class="locality">Cars</span>, <span class="postal-code">LE4 5BU</span><br>
			<span class="tel"><a href="tel:14843242400">0116 546 78464</a></span> <span class="pipe">/</span> <a class="email" href="https://mail.yahoo.com/d/folders/1?.intl=ie&.lang=en-IE&guce_referrer=aHR0cHM6Ly9sb2dpbi55YWhvby5jb20v&guce_referrer_sig=AQAAABLd1RrdKcUlQQXV4y3ZZYchTSRUSpE4gkgZdPrXeEaoOndSL85PMYGOSVCtpz9Tqqsoq8bypeJgMSRS4grS7JvfYR3jy_gsfOzOPzam4dkzfxZYSXSNDdHJiUNbkKsW0h5b9mEN8cffktigzora6l7w9QNnlbfmt3FnbTUCTNcc">cars2go65@yahoo.com</a>
			<p class="directions"><a href="https://www.google.com/maps/d/embed?mid=1G5U40XdMN2VikAvrzRuQIzsRKT1Y4ZXn">Get Directions</a></p>
			
			<!--  <a href="https://twitter.com/cars2_go/"><img src="/static/img/Twitter.jpg" height="40"/></a-->
			<a href="https://twitter.com/cars2_go/"><i class="mdi mdi-twitter"></i></a>
			
			<!-- <a href="https://www.facebook.com/Cars2GoHQ"><img src="/static/img/Facebook.jpg" height="40"/></a>-->
			<a href="https://www.facebook.com/Cars2GoHQ"><i class="mdi mdi-facebook"></i></a>
			
			<!-- <a href="https://www.instagram.com/cars2go_hq/"><img src="/static/img/Instagram.jpg" height="40"/></a>-->
			<a href="https://www.instagram.com/cars2go_hq/"><i class="mdi mdi-instagram"></i></a>
			
			<!-- <a href="https://youtube.com/channel/UCI7GnxykbGaSI-LNysXOW7w/"><img src="/static/img/Youtube.jpg" height="40"/></a>-->
			<a href="https://youtube.com/channel/UCI7GnxykbGaSI-LNysXOW7w/"><i class="mdi mdi-youtube"></i></a>
			
			<p class="social"><a href="https://www.facebook.com/Cars2GoHQ" aria-label="Cars2Go on Facebook" target="_blank" rel="noreferrer"><i class="fa fa-facebook-square fa-2x"></i></a>
			<a href="https://www.instagram.com/cars2go_hq/" target="_blank" aria-label="Cars2Go on Instagram" rel="noreferrer"><i class="fab fa-instagram-square fa-2x"></i></a>
			<a href="https://www.google.com/maps/d/embed?mid=1G5U40XdMN2VikAvrzRuQIzsRKT1Y4ZXn" aria-label="Cars2Go on Google" target="_blank" rel="noreferrer"><i class="fa fa-google fa-2x"></i></a>
		  </p>
		<a class="btn-pill" href="/start-a-project/">Let's Begin</a>
		
		<div class="footer-copyright">© 2021 Cars2Go</div>
	</div>
	

	</footer>
	
	</div>
	
	
{% endblock %}