{% extends "base.html" %}

{% block app_content %}

<link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet">

<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<h1 class="text-muted">Contact Us</h1>
		<h2 class= "text-muted"<strong>Find us at your nearest store!</strong></h2>
		
	</div>
	<p><iframe src="https://www.google.com/maps/d/embed?mid=1G5U40XdMN2VikAvrzRuQIzsRKT1Y4ZXn" width="600" height="500" style="border:0;" loading="lazy"></iframe></p>
	<br>
	
	<div class="row">
	<div class="col-sm-11 col-md-11 text-right" style="position: absolute; right: 185px; top: 500px;">
		<h2 class="text-muted">Call Our Office</h2>
		<p> Leicester: 0116 546 78464 </p>
		<p> Nottingham: 0115 941 8418 </p>
		<p> London: 01516 896 8364 </p>
		<p> Brighton: 0117 928 9000 </p>
	</div>
	
	<img src="/static/branding/default.png" height="400" style="position: absolute; right: 90px; top: 120px;">
	
	</div>
</div>
	
	<div class="row">
	  <div class="column">
	    <h3 class= "text-muted" style= "text-align: center"><strong>Booking & Consultations</strong></h3>
		
		
  	<form action="/action_page.php" class="contact-us-form">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name...">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name...">

        <label for="city">Email Address</label> 
		<input type="text" id="address" name="emailaddress" placeholder="Your email address...">

        <label for="pnumber">Phone Number</label>
        <input type="text" id="pnumber" name="phonenumber" placeholder="Your phone number...">
		
		<br>
		
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
 
	<br>
	
	<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<img src="/static/img/LM.jpg" class="img-banner"/>
	</div>	
	
	<br>
	
	<br>
	

		<div class="col-sm-15 col-md-15 text-center">
			<h1 class="text-muted"><strong>Social Media</strong></h1>
				
			<a href="https://twitter.com/cars2_go/"><img src="/static/img/Twitter.jpg" height="130"/></a>
			
			<a href="https://www.facebook.com/Cars2GoHQ"><img src="/static/img/Facebook.jpg" height="130"/></a>
			
			<a href="https://www.instagram.com/cars2go_hq/"><img src="/static/img/Instagram.jpg" height="130"/></a>
			
			<a href="https://youtube.com/channel/UCI7GnxykbGaSI-LNysXOW7w/"><img src="/static/img/Youtube.jpg" height="130"/></a>
			
			<br>
			<br>
			
		 
                        
			
{% endblock %}