{% extends "base.html" %}


{% block app_content %}



<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<img src="{{ url_for('static', filename='branding/default.png')}}" class="logo"/>
	</div>
</div>
<h2 class="text-muted text-center">Welcome to Cars2Go!</h2>

<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<!-- max size = 1170 x 246 -->
		<img src="/static/img/homebanner.jpg" class="img-banner"></img>
	</div>
	
</div>

<h3 class="text-muted text-center">Recent Models</h3>

<div class="row">
	<div class="col-md-4">
		<img src="/static/img/car1.jpg"></img>
	</div>
	
	<div class="col-md-4">
		<img src="/static/img/car2.jpg"></img>
	</div>
	
	<div class="col-md-4">
		<img src="/static/img/car3.jpg"></img>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 class="text-muted text-center">About Us</h3>
		<i> We have over 800 cars available for you to view. All our cars are guaranteed with luxury, high quality and in mint condition  </i>
	</div>
	<div class="col-md-8 text-center">
		<h3 class="text-muted text-center">Contact Us</h3>
		<!-- Dominic H. -->
		<!-- The forms idea for this (user story) isn't going to work too well, I could try and start screwing with the bootstrap CSS files, but that's asking for trouble with this outdated version -->
		<!-- Maybe this could be a better replacement for the contact us section on the index page? -->
		<p>We're here to help you find the perfect car, no matter your requirements.</p>
		<p>Come speak to our friendly team today!</p>
		<a href="{{ url_for('main.contactUs') }}"><button class="btn btn-primary btn-m"><i class="glyphicon glyphicon-envelope"></i> Contact Us</button></a>
	</div>
</div>
<div class="row">
<br>
<br/>
</div>

{% endblock %}