{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<ol class="breadcrumb">
  <li><a href="{{ url_for('main.index') }}">Home</a></li>
  <li><a href="#">Models List</a></li>
  <li class="active">{{ car.year|int }} {{ car.manufacturer }} {{ car.model }}</li>
</ol>

<div class="col-md-3">
	<div class="row">
		<img src="{{ url_for('static', filename='car_pics/' + car.photo) }}" alt="" class="thumbnail"/>

			<div class="panel panel-default panel-models">
				<div class="panel-heading">Like what you see? Want more info?</div>
				<div class="panel-body text-center">
					<p>Come chat with our friendly sales team today!</p>
					<p><a href=""><button class="btn btn-primary btn-lg"><i class="fa fa-phone"></i> Contact Us</button></a></p>
					<p>Open 9am - 5pm Monday to Friday</p>
					<p>Quote: <b>{{ car.year|int }} {{ car.manufacturer }} {{ car.model }}</b></p>

				</div>
			</div>

            <div class="panel panel-default panel-models">
                <div class="panel-heading"><b>Car Fact List</b></div>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-calendar-o"></i> Year: {{ car.year|int }}</li>
                    <li class="list-group-item"><i class="fa fa-tachometer"></i> {{ carMileageFormatted }} Miles</li>
                    <li class="list-group-item"><i class="fa fa-sliders"></i> {{ car.transmission }} Transmission</li>
                    <li class="list-group-item"><i class="fa fa-fire"></i> Fuel Type: {{ car.fuel }}</li>
                    <li class="list-group-item"><i class="fa fa-flask"></i> {{ car.engine_size }} Liter Engine</li>
                    <li class="list-group-item"><i class="fa fa-group"></i> {{ car.seats|int }} Seats</li>
                    <li class="list-group-item"><i class="fa fa-square-o"></i> {{ car.doors|int }} Doors</li>
                    <li class="list-group-item"><i class="fa fa-paint-brush"></i> {{ car.colour }}</li>
                    {% if car.mot %}
                    	<li class="list-group-item"><i class="fa fa-clipboard"></i> Has M.O.T (Last M.O.T: {{ car.last_mot }})</li>
                    {% else %}
                    	<li class="list-group-item"><i class="fa fa-warning"></i> No M.O.T - M.O.T Check and Repair Fees May Apply</li>
                    {% endif %}

                    {% if car.has_warranty %}
                    	<li class="list-group-item"><i class="fa fa-certificate"></i> Has Warranty</li>
                    {% endif %}
                </ul>
            </div>
	</div>
</div>

<div class="col-md-6">
	<div class="content">
	<h2>Used {{ car.year|int }} {{ car.manufacturer }} {{ car.model }}</h2>
	<h3 class="text-primary"><i>From £{{ car.price|int }}</i></h3>
	<h5 class="text-muted"><i>Brief Facts:</i></h5>
	<div class="inline-list">
		<div class="info-item"><i class="fa fa-calendar-o"></i> Year: {{ car.year|int }}</div>
		<div class="info-item"><i class="fa fa-tachometer"></i> {{ carMileageFormatted }} Miles</div>
		<div class="info-item"><i class="fa fa-gear"></i> Transmission: {{ car.transmission }}</div>
	</div>
	<br/><br/><br/><br/>
	<h4 class="text-muted">Summary</h4>
	<p>{{ car.summary }}</p>
	<br/>
	<h4 class="text-muted">Description</h4>
	<p>{{ car.description }}</p>

</div>
</div>

{% endblock %}