{% for car in cars %}
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-4 text-center">
        		<a href="/cars/listing/{{car.id}}"><img src="/static/car_pics/{{car.photo}}" alt="Click to view more" class="img-responsive thumbnail"></a>
        		<a href="/cars/listing/{{car.id}}"><button class="btn btn-primary">Learn More</button></a>
        	</div>
        	<div class="col-md-6">
        		<h3>{{ car.year|int }} {{ car.manufacturer }} {{ car.model }}</h3>
        		<h3 class="search-results-price text-primary">£{{ car.price|int }}</h3>
        		<span>
        			{% if car.mot %} <span class="label label-primary"><i class="mdi mdi-pipe-wrench mdi-label-icon"></i> Has M.O.T (Last M.O.T: {{ car.last_mot }})</span> {% endif %}
        			{% if car.has_warranty %} <span class="label label-success"><i class="mdi mdi-certificate mdi-label-icon"></i> Warranty Included</span> {% endif %}
        		</span>
        		<p class="text-muted"><b>Summary:</b> <i>{{ car.summary }}</i></p>
        		<span>
        			<i class="mdi mdi-counter mdi-search-mini-stats-icon"></i> {{ car.mileage|int }} Miles
        			<i class="mdi mdi-car-shift-pattern mdi-search-mini-stats-icon"></i> {{ car.transmission }}
        			<i class="mdi mdi-gas-station mdi-search-mini-stats-icon"></i> {{ car.fuel }}
        			<i class="mdi mdi-engine mdi-search-mini-stats-icon"></i> {{ car.engine_size }} Liter Engine
        		</span>
        	</div>
        </div>
    </div>
</div>
{% endfor %}